$body-color-fallback: #8EC5FC;
$body-color-webkit: -webkit-linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
$body-color: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

@font-face {
    font-family: "Goligan";
    src: url("../src/Goligan.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    width: 100%;
    height: 100%;
}

body {

    background-color: #4d4855;
    background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);
    background-size: 100%;

    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 8fr;
    grid-template-areas: 
    "header header header"
    "main main main";

    header {
        grid-area: header;
        grid-column: 1/4;
        grid-row: 1;

        display: grid;
        grid-template-columns: 1fr 4fr;
        justify-items: center;
        align-items: center;

        img {
            width: 150px;
            height: 150px;
        }


        button {
            padding: 10px 70px;
            margin: 16px;
            text-transform: uppercase;
            border-radius: 8px;
            font-size: 25px;
            font-weight: 500;
            color: #ffffff80;
            text-shadow: none;
            background: transparent;
            cursor: pointer;
            box-shadow: transparent;
            border: 1px solid #ffffff80;
            transition: 0.7s ease;
            user-select: none;
          }
          
          button:hover,
          :focus {
            color: antiquewhite;
            background: linear-gradient(319deg, #ffcb43 0%, #ff6425 37%, #ff0016 100%);;
            border: 1px solid cornflowerblue;
            text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
            box-shadow: 0 0 5px yellow, 0 0 20px darkorange, 0 0 50px #880808,
              0 0 100px darkred;
          }
          
    }

    #content {
        grid-area: main;
        grid-column: 1/4;
        grid-row: 2;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: baseline;
        padding-top: 16px;

        .text-content {
            width: 100%;
            font-size: 32px;
            
            display: flex;
            justify-content: center;
            align-self: center;

            padding-left: 16px;
        }

        #prez {
            grid-column: 1/3;
        }

        #ingr {
            grid-column: 2/4;
        }

        #pizzaslice {
            display: flex;
            justify-content: center;
            align-self: center;

            grid-column: 3;
        }

        #basil {
            display: flex;
            justify-content: center;
            align-self: center;
        }

        span {

            font-family: "Goligan";

            background-color: #ffcb43;
            background-image: linear-gradient(319deg, #ffcb43 0%, #ff6425 37%, #ff0016 100%);
            background-clip: text;
            -webkit-text-fill-color: transparent;

            &:hover {
                
            text-shadow: 0 0 1px yellow, 0 0 5px darkorange, 0 0 15px #880808,
            0 0 30px darkred;
            
            }

        }
        
        

        img {
            width: 250px;
            height: 250px;

        }

        p {

            font-family: "Goligan";

           color: antiquewhite;
        }


    }

}